/.vscode
/._bubble.c
/._mat_vect_mult.c
/._odd_even.c
/._omp_fibo.c
/._omp_hello.c
/._omp_hello_err_chk.c
/._omp_mat_vect.c
/._omp_mat_vect_rand_split.c
/._omp_mat_vect_rand_split.c~
/._omp_msg
/._omp_odd_even1.c
/._omp_odd_even2.c
/._omp_pi.c
/._omp_private.c
/._omp_sin_sum.c
/._omp_tokenize.c
/._omp_tokenize_r.c
/._omp_trap1.c
/._omp_trap2a.c
/._omp_trap2b.c
/._omp_trap3.c
/._trap.c
/bubble.c
/mat_vect_mult.c
/odd_even.c
/omp_fibo.c
/omp_hello.c
/omp_hello_err_chk.c
/omp_mat_vect.c
/omp_mat_vect_rand_split.c
/omp_mat_vect_rand_split.c~
/omp_msg
/omp_odd_even1.c
/omp_odd_even2.c
/omp_pi.c
/omp_private.c
/omp_sin_sum.c
/omp_sin_sum.exe
/omp_tokenize.c
/omp_tokenize_r.c
/omp_trap1.c
/omp_trap1.exe
/omp_trap1c.exe
/omp_trap2a.c
/omp_trap2b.c
/omp_trap3.c
/trap.c